<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">Surname</td>
            <td>
                <form th:action="@{/{id}/edit(id=${user.getId})}">
                    <input type="submit" value="Edit user"/>
                </form>
            </td>
            <td>
                <form th:method="GET" th:action="@{/{id}/(id=${user.getId})}">
                    <input type="submit" value="Delete user"/>
                </form>
            </td>
        </tr>
    </table>
    <form th:method="GET" th:action="@{/new}">
        <br/>
        <input type="submit" value="Register a new user"/>
    </form>
</div>
</body>
</html>